body{
    background-color: rgb(255, 217, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.content{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
}
#image{
    width: 100%;
    border-radius: 5px;
}
.content h1{
    font-family: Arial, Helvetica, sans-serif;
    
}
.content p{
    font-family: Arial, Helvetica, sans-serif;
}
#profile{
    display: flex;
    align-content: center;
}
#name{
    text-decoration: bold;
}
span{
    font-family: Arial, Helvetica, sans-serif;
}
.category{
    background-color: rgb(255, 217, 0);
    border-radius: 3px;
    padding: 5px;
}
.content:hover{
    box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
    h1{
        color:rgb(255, 217, 0);
    }
}